In [1]:
# # Dictionary
# -Indexed
# -Ordered
# -Duplicate
# -Mutable

In [2]:
# d = {<key>:<value>,<key>:<value>,...}

In [5]:
d = {"a":"Apple","b":"Ball","c":"Cat"}
print(type(d))
print(d)

<class 'dict'>
{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [7]:
d = {0:"Apple",1:"Ball",2:"Cat"}
print(type(d))
print(d)

<class 'dict'>
{0: 'Apple', 1: 'Ball', 2: 'Cat'}

In [10]:
d = {"a":"Apple","b":"Ball","c":"Cat"}
print(d['a'])
print(len(d))

Apple
3

In [11]:
# d = {}
d = dict()
print(d)

{}

In [14]:
d = {}
d['a'] = "Apple"
d['b'] = "Ball"
d['c'] = "Cat"
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [15]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    d[name] = phone
    
print(d)

Enter n = 2
Enter name = Ram
Enter phone = 9878778765
Enter name = Shyam
Enter phone = 9856554543
{'Ram': '9878778765', 'Shyam': '9856554543'}

In [16]:
d = {'Ram': '9878778765', 'Shyam': '9856554543','Ram':'9867665654'}
d

{'Ram': '9867665654', 'Shyam': '9856554543'}

In [19]:
d = {'Ram': '9878778765', 'Shyam': '9856554543'}
for i in d:
    print(i)

Ram
Shyam

In [20]:
d = {'Ram': '9878778765', 'Shyam': '9856554543'}
for i in d.values():
    print(i)

9878778765
9856554543

In [21]:
d = {'Ram': '9878778765', 'Shyam': '9856554543'}
for i in d.items():
    print(i)

('Ram', '9878778765')
('Shyam', '9856554543')

In [22]:
l = []
d = {'Ram': '9878778765', 'Shyam': '9856554543'}
for i in d.items():
    l.append(i)
    
print(l)

[('Ram', '9878778765'), ('Shyam', '9856554543')]

In [24]:
dict(l)

{'Ram': '9878778765', 'Shyam': '9856554543'}

In [26]:
d = {'Ram': '9878778765', 'Shyam': '9856554543'}
d['Ram']

'9878778765'

In [27]:
d = {'Ram': '9878778765', 'Shyam': '9856554543'}
d['Ram'] = 9800000000
d

{'Ram': 9800000000, 'Shyam': '9856554543'}

In [28]:
# del pop()
d = {'Ram': '9878778765', 'Shyam': '9856554543'}
del d['Ram']
d

{'Shyam': '9856554543'}

In [30]:
# del pop()
d = {'Ram': '9878778765', 'Shyam': '9856554543'}
c = d.pop('Ram')
print(c)
print(d)

9878778765
{'Shyam': '9856554543'}

In [32]:
d = {'Ram': '9878778765', 'Shyam': '9856554543'}
d.clear()
d

{}

In [35]:
d = {'Ram': '9878778765', 'Shyam': '9856554543'}
c = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
d.update(c)
print(d)

{'Ram': '9878778765', 'Shyam': '9856554543', 'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [36]:
#list inside dictionary
d = {'Ram': ['9878778765','9867667543'], 'Shyam': ['9856554543','9856556543']}
d

{'Ram': ['9878778765', '9867667543'], 'Shyam': ['9856554543', '9856556543']}

In [40]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter ntc_phone = "))
    ncell_phone = int(input("Enter ncell_phone = "))
    d[name] = [ntc_phone,ncell_phone]
    
print(d)

Enter n = 2
Enter name = Ram
Enter ntc_phone = 9808667654
Enter ncell_phone = 9808667654
Enter name = Shyam
Enter ntc_phone = 9843445432
Enter ncell_phone = 9808334537
{'Ram': [9808667654, 9808667654], 'Shyam': [9843445432, 9808334537]}

In [38]:
print(d)

{'Ram': [9878778765, 9808667654], 'Shyam': [9843887654, 98086676543]}

In [42]:
#read
info = {'Ram': [9878778765, 9808667654], 'Shyam': [9843887654, 98086676543]}
info['Ram']

[9878778765, 9808667654]

In [46]:
#Update
info = {'Ram': [9878778765, 9808667654], 'Shyam': [9843887654, 98086676543]}
info['Ram'][0] = 9808777777
info

{'Ram': [9808777777, 9808667654], 'Shyam': [9843887654, 98086676543]}

In [48]:
info = {'Ram': [9878778765, 9808667654], 'Shyam': [9843887654, 98086676543]}
info['Ram'].append(9808667654)
info

{'Ram': [9878778765, 9808667654, 9808667654],
 'Shyam': [9843887654, 98086676543]}

In [49]:
#dict inside list
info = [{'Name':'Ram','ntc_phone':9856556543,'ncell':9808667654},
       {'Name':'Shyam','ntc_phone':9856558943,'ncell':9808567654}]
print(info[0])

{'Name': 'Ram', 'ntc_phone': 9856556543, 'ncell': 9808667654}

In [51]:
d = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter ntc_phone = "))
    ncell_phone = int(input("Enter ncell_phone = "))
    info = {'Name':name,'ntc_phone':ntc_phone,'ncell_phone':ncell_phone}
    d.append(info)
print(d)

Enter n = 2
Enter name = Ram
Enter ntc_phone = 87889798
Enter ncell_phone = 876876
Enter name = Shyam
Enter ntc_phone = 90809898
Enter ncell_phone = 978978987
[{'Name': 'Ram', 'ntc_phone': 87889798, 'ncell_phone': 876876}, {'Name': 'Shyam', 'ntc_phone': 90809898, 'ncell_phone': 978978987}]

In [ ]:
# update and delete

In [1]:
# dict inside dict

In [2]:
d = {"Ram":{"ntc":9867667654,"ncell":9808667654},
    "Shyam":{"ntc":9867667654,"ncell":9808667654}}
d

{'Ram': {'ntc': 9867667654, 'ncell': 9808667654},
 'Shyam': {'ntc': 9867667654, 'ncell': 9808667654}}

In [4]:
d["Shyam"]

{'ntc': 9867667654, 'ncell': 9808667654}

In [5]:
for i in d:
    print(i)

Ram
Shyam

In [6]:
for i in d.values():
    print(i)

{'ntc': 9867667654, 'ncell': 9808667654}
{'ntc': 9867667654, 'ncell': 9808667654}

In [7]:
for i in d.items():
    print(i)

('Ram', {'ntc': 9867667654, 'ncell': 9808667654})
('Shyam', {'ntc': 9867667654, 'ncell': 9808667654})

In [8]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter ntc_phone = "))
    ncell_phone = int(input("Enter ncell_phone = "))
    d[name] = {'ntc_phone':ntc_phone,'ncell_phone':ncell_phone}
print(d)

Enter n = 2
Enter name = Ram
Enter ntc_phone = 9867667654
Enter ncell_phone = 9808667654
Enter name = Ram
Enter ntc_phone = 9867667654
Enter ncell_phone = 9808667654
{'Ram': {'ntc_phone': 9867667654, 'ncell_phone': 9808667654}}

In [9]:
d = {'Ram': {'ntc_phone': 9867667654, 'ncell_phone': 9808667654}}
d['Hari'] = {'ntc_phone': 98676676567, 'ncell_phone': 9878667654}
d

{'Ram': {'ntc_phone': 9867667654, 'ncell_phone': 9808667654},
 'Hari': {'ntc_phone': 98676676567, 'ncell_phone': 9878667654}}