In [3]:
a = 10
print(a)

10

In [7]:
a = 10
b = 10.5
c = "Hello World"
d = True
print(a)
print(b)
print(c)
print(d)

10
10.5
Hello World
True

In [5]:
print(a,b,c,d)

10 10.5 Hello World True

In [12]:
#data type

a = 10
b = 10.5
c = "Hello World"
d = True

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [14]:
# + - * / % ** //

# ** power
# // flowr division

In [18]:
a = 10
b = 2
c = a/b
print(c)

5.0

In [19]:
a = 10
b = 3
c = a%b
print(c)

1

In [23]:
a = 2
b = 3
c = a**b
print(c)

8

In [26]:
a = 10
b = 3
c = a//b
print(c)

3

In [27]:
p = 10000
t = 2.5
r = 8.3

i = p*t*r/100
print(i)

2075.0000000000005

In [ ]:
a = input()

In [2]:
a = input("Enter a = ")
b = input("Enter b = ")
c = a+b
print(c)

Enter a = Hello
Enter b = World
HelloWorld

In [ ]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
c = a+b
print(c)

In [ ]:
a = float(input("Enter a = "))
b = float(input("Enter b = "))
c = a+b
print(c)

In [2]:
a = "10"
int(a) +10

20

In [4]:
age = int(input("Enter age = "))

Enter age = 10

In [5]:
a =10
str(a)

'10'

In [6]:
# WAP to calculate the value of i in
# i = p*t*r/100
p = int(input("Enter p = "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))

i = p*t*r/100

print("The value of i = ",i)

Enter p = 10000
Enter t = 2.5
Enter r = 20.5
The value of i =  5125.0

In [1]:
a = "Hello"
b = "World"
c = a+b
print(c)

HelloWorld

In [2]:
a = "Hello"
b = "World"
print(a,b)

Hello World

In [3]:
a = "Hello"
b = "World"
c = a+ " " +b
print(c)

Hello World

In [6]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [10]:
a = "Hello World"
print(a[3])

l

In [14]:
a = 10
b = "10"
print(a+int(b))

20

In [21]:
a = " "
type(a)

str

In [24]:
a = "Hello "
b = "World"
print(a+b)

Hello World

In [ ]:
name = input("Enter name = ")
age = int(input("Enter age = "))
address = input("Enter add = ")

info = 'Hello World I am '+ name +" I am from "+address + " I am "+str(age)
print(info)

In [ ]:
name = "Shyam"
info = "Ram"+name
info

In [20]:
a = 10
a+20

30

In [29]:
# a = True        ->1
# b = False       ->0

In [34]:
a = True
b = True

c = a+b
print(c)

2

In [35]:
print(a-b)

0

In [36]:
print(a*b)

1

In [37]:
print(a/b)

1.0

In [ ]:
# < > <= >= == !=

In [17]:
a = 10
b = 20
a>=b

False

In [19]:
a = 10
b = 20
a==b

False

In [23]:
a = "apple"
b = "Apple"
a==b

False

In [24]:
a = 10
b = 20
a!=b

True