In [1]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\coral\anaconda3\lib\site-packages (2.2.9)

WARNING: Ignoring invalid distribution -illow (c:\users\coral\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\coral\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\coral\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\coral\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\coral\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\coral\anaconda3\lib\site-packages)
WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\coral\Anaconda3\python.exe -m pip install --upgrade pip' command.

In [3]:
import mysql.connector #importing database
database = mysql.connector.connect(host="localhost",user="root",password="")
db = database.cursor()
db.execute("CREATE DATABASE pythonss")

In [8]:
import mysql.connector #importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "pythonClass5pm"
)
db = database.cursor()

In [10]:
db.execute("SELECT * FROM student")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 67, 95, 90, 76, 412, 82.0, 'A')
(2, 'Shyam', 78, 89, 78, 90, 95, 480, 85.0, 'A')
(3, 'Nabin', 88, 89, 78, 90, 95, 480, 90.0, 'A+')
(4, 'Sita', 89, 80, 78, 85, 76, 400, 80.0, 'A')
(5, 'Sita Ram', 89, 80, 78, 85, 76, 410, 82.0, 'A')
(6, 'Nira', 78, 89, 78, 78, 56, 400, 80.0, 'A')

In [11]:
db.execute("SELECT sn,name,total,per FROM student")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 412, 82.0)
(2, 'Shyam', 480, 85.0)
(3, 'Nabin', 480, 90.0)
(4, 'Sita', 400, 80.0)
(5, 'Sita Ram', 410, 82.0)
(6, 'Nira', 400, 80.0)

In [12]:
db.execute("SELECT * FROM student WHERE grade = 'A'")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 67, 95, 90, 76, 412, 82.0, 'A')
(2, 'Shyam', 78, 89, 78, 90, 95, 480, 85.0, 'A')
(4, 'Sita', 89, 80, 78, 85, 76, 400, 80.0, 'A')
(5, 'Sita Ram', 89, 80, 78, 85, 76, 410, 82.0, 'A')
(6, 'Nira', 78, 89, 78, 78, 56, 400, 80.0, 'A')

In [14]:
sql = '''INSERT INTO student (sn, name, physics, chemistry, math, english, nepali, total, per, grade) 
VALUES (11, 'Sabina', 78, 80, 60, 90, 95, 442, 86.0, 'A')'''
db.execute(sql)
database.commit()

In [15]:
# # WAP to input values and save in database
# sql = f'''INSERT INTO student (sn, name, physics, chemistry, math, english, nepali, total, per, grade) 
# VALUES ({sn}, '{name}', {physics}, {chemistry}, {math}, {english}, {nepali}, {total}, {per}, '{grade}')'''

In [16]:
sql = "DELETE FROM student WHERE sn = 6"
db.execute(sql)
database.commit()

In [18]:
sql = "UPDATE  student SET name = 'John' WHERE name = 'Ram'"
db.execute(sql)
database.commit()