In [1]:
# # Tuple
# Indexed
# Ordered
# Mulpiple data
# Imutable

In [2]:
a = ("Apple","Ball","Cat","Dog")
b = (1,2,3,4,5,6,7)
print(a)
print(b)
print(type(a))
print(type(b))

('Apple', 'Ball', 'Cat', 'Dog')
(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>
<class 'tuple'>

In [7]:
a = ("Apple","Ball","Cat","Dog")
print(a[3])

Dog

In [8]:
a = ("Apple","Ball","Cat","Dog")
b = (1,2,3,4)
c = a+b
print(c)

('Apple', 'Ball', 'Cat', 'Dog', 1, 2, 3, 4)

In [12]:
a = (1,2,3,4,5,2,3,4,5,3)
print(max(a))
print(min(a))
print(sum(a))

5
1
32

In [14]:
a = [1,2,3,4,5,2,3,4,5,3]
print(max(a))
print(min(a))
print(sum(b))
a.sort()
print(a)

5
1
10
[1, 2, 2, 3, 3, 3, 4, 4, 5, 5]

In [15]:
# no append() insert() extend() sort()
# no update
# no del pop() remove()

In [18]:
a = (1,)
type(a)

tuple

In [19]:
a = ()
b = a+ (1,)
c = b+(2,)
d = c+(3,)
d

(1, 2, 3)

In [21]:
a = [1,2,3,4,5,2,3,4,5,3]
a.sort()
a.reverse()
print(a)

[5, 5, 4, 4, 3, 3, 3, 2, 2, 1]

In [23]:
a = ["Zebra","Cat","dog","Egg","Xray"]
a.sort()
a

['Cat', 'Egg', 'Xray', 'Zebra', 'dog']

In [22]:
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    t = t+(x,)
print(t)

Enter n = 5
Enter x = Apple
Enter x = Ball
Enter x = Cat
Enter x = God
Enter x = Fish
('Apple', 'Ball', 'Cat', 'God', 'Fish')

In [28]:
a = ('Apple', 'Ball', 'Cat', 'God', 'Fish')
b = list(a)
print(b)
del b[0]
a = tuple(b)
a

['Apple', 'Ball', 'Cat', 'God', 'Fish']

('Ball', 'Cat', 'God', 'Fish')

In [31]:
a = "Hello World"
print(list(a))

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [32]:
a = "Hello World"
print(tuple(a))

('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

In [33]:
# tuple inside tuple
a = (("Ram",34,"Kathmandu"),
    ("Shyam",56,"Lalitpur"),
    ("Hari",67,"Bhaktapur"))
print(a)

(('Ram', 34, 'Kathmandu'), ('Shyam', 56, 'Lalitpur'), ('Hari', 67, 'Bhaktapur'))

In [36]:
t = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    info = ((name,age,add),)
    t = t+info
    
print(t)

Enter n = 2
Enter name = sdfdsfsdf
Enter age = 32
Enter address = sdfsdf
Enter name = sfsdf
Enter age = 234
Enter address = sdfsdf
(('sdfdsfsdf', 32, 'sdfsdf'), ('sfsdf', 234, 'sdfsdf'))

In [50]:
#tuple inside list
a = (('sdfdsfsdf', 32, 'sdfsdf'), ('sfsdf', 234, 'sdfsdf'))
b = list(a)
b

[('sdfdsfsdf', 32, 'sdfsdf'), ('sfsdf', 234, 'sdfsdf')]

In [54]:
b.append(("Shyam",23,"Nepal"))
b

[('sfsdf', 234, 'sdfsdf'), ('Shyam', 23, 'Nepal'), ('Shyam', 23, 'Nepal')]

In [55]:
b[0] = ("Ram",89,"lalitpur")
b

[('Ram', 89, 'lalitpur'), ('Shyam', 23, 'Nepal'), ('Shyam', 23, 'Nepal')]

In [41]:
b = []
a = (('sdfdsfsdf', 32, 'sdfsdf'), ('sfsdf', 234, 'sdfsdf'))
for i in a:
    x = list(i)
    b.append(x)
    
b

[['sdfdsfsdf', 32, 'sdfsdf'], ['sfsdf', 234, 'sdfsdf']]